[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu111"
verify_ssl = true
name = "pytorch"

[[source]]
url = "https://data.dgl.ai/wheels/repo.html"
verify_ssl = true
name = "dgl"

[packages]
jupyter = "*"
matplotlib = "*"
pandas = "*"
tensorboard = "*"
tqdm = "*"
scikit-learn = "*"
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torchaudio = {version = "*", index = "pytorch"}
dgl-cu111 = {version = "*", index = "dgl"}
dglgo = {version = "*", index = "dgl"}
setuptools = "*"
pyconcorde = {git = "https://github.com/jvkersch/pyconcorde"}
lkh = {git = "https://github.com/ben-hudson/pylkh"}

[dev-packages]
gnngls = {editable = true, path = "."}

[requires]
python_version = "3.8"
